---

- name: get rust installer under {{ user_home }}
  become: yes
  become_user: "{{ user.name }}"
  get_url:
    url: https://sh.rustup.rs
    dest: "{{ user_home }}/.rustup-installer.sh"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0755"

- name: setup rustup mirror for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  blockinfile:
    path: "{{ user_home }}/{{ user_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK user_setup/{{ role_name }}/setup_rustup_mirror"
    block: |
      export RUSTUP_DIST_SERVER=https://mirrors.ustc.edu.cn/rust-static
      export RUSTUP_UPDATE_ROOT=https://mirrors.ustc.edu.cn/rust-static/rustup

- name: install rust for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  shell:
    cmd: "{{ user_home }}/.rustup-installer.sh -y -q --no-modify-path"
    chdir: "{{ user_home }}"
    creates: "{{ user_home }}/.cargo"

- name: setup cargo config file {{ user_home }}/.cargo/config
  become: yes
  become_user: "{{ user.name }}"
  file:
    path: "{{ user_home }}/.cargo/config"
    state: touch
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0644"
    modification_time: preserve
    access_time: preserve

- name: setup cargo mirror for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  blockinfile:
    path: "{{ user_home }}/.cargo/config"
    marker: "# {mark} ANSIBLE MANAGED BLOCK user_setup/{{ role_name }}/setup_cargo_mirror"
    block: |
      [source.crates-io]
      replace-with = 'ustc'
      [source.tuna]
      registry = "https://mirrors.tuna.tsinghua.edu.cn/git/crates.io-index.git"
      [source.ustc]
      registry = "git://mirrors.ustc.edu.cn/crates.io-index"

- name: setup rust env for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  blockinfile:
    path: "{{ user_home }}/{{ user_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK user_setup/{{ role_name }}/setup_rust_env"
    block: |
      [[ -s "${HOME}/.cargo/env" ]] && source "${HOME}/.cargo/env"
