---
- name: install requirements for gvm
  package:
    name:
      - curl
      - bison
    state: present

- name: get gvm installer under {{ user_home }}
  become: yes
  become_user: "{{ user.name }}"
  get_url:
    url: https://raw.githubusercontent.com/moovweb/gvm/master/binscripts/gvm-installer
    dest: "{{ user_home }}/.gvm-installer.sh"
    owner: "{{ user.name }}"
    group: "{{ user.name }}"
    mode: "0755"

- name: install gvm for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  shell:
    cmd: "GVM_NO_UPDATE_PROFILE=YES {{ user_home }}/.gvm-installer.sh"
    chdir: "{{ user_home }}"
    creates: "{{ user_home }}/.gvm"

- name: install golang for {{ user.name }} via gvm
  become: yes
  become_user: "{{ user.name }}"
  gvm_install:
    version: "{{ version }}"
  when: user.golang.version is defined
  loop: "{{ user.golang.version }}"
  loop_control:
    loop_var: version

- name: set {{ user.golang.default }} as default golang version for {{ user.name }} via gvm
  become: yes
  become_user: "{{ user.name }}"
  gvm_use:
    version: "{{ user.golang.default }}"
  when: user.golang.default is defined

- name: setup go env for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  blockinfile:
    path: "{{ user_home }}/{{ user_profile }}"
    marker: "# {mark} ANSIBLE MANAGED BLOCK user_setup/{{ role_name }}"
    block: |
      [[ -s "${HOME}/.gvm/scripts/gvm" ]] && source "${HOME}/.gvm/scripts/gvm"
      export GOPATH="${HOME}" && export GOPROXY="https://goproxy.io" && export GO111MODULE="auto"
