---

- name: install git and git-lfs
  package:
    name:
      - git
      - git-lfs
    state: present

- name: setup git credential helper as store for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  git_config:
    name: credential.helper
    scope: global
    value: store

- name: setup git push default as simple for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  git_config:
    name: push.default
    scope: global
    value: simple

- name: setup git author name for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  git_config:
    name: user.name
    scope: global
    value: "{{ user.git.author }}"
  when: user.git.author is defined

- name: setup git author email for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  git_config:
    name: user.email
    scope: global
    value: "{{ user.git.email }}"
  when: user.git.email is defined

- name: setup git lfs.url for {{ user.name }}
  become: yes
  become_user: "{{ user.name }}"
  git_config:
    name: lfs.url
    scope: global
    value: "{{ user.git.lfs }}"
  when: user.git.lfs is defined
